<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="{{ relative_url }}" class="image avatar"><img src="{{ 'assets/images/avatar.jpg' | relative_url }}" alt="{{ site.title | escape }}"></a>
    <!-- <a href="{{ relative_url }}" class="image avatar"><img class="editable" src="../assets/images/avatar.jpg" alt="{{ site.author.name }}"></a> -->
    <!--  <h1>
      <strong>{{ site.title | escape }}</strong><br />
      {{ site.description | escape }}
    </h1> -->
    <h1 class="editable"><strong>I am <a href="{{ relative_url }}">Dushko</a></strong>,<br> welcome to my simple<br> and responsive web page</h1>
  </div>
</header>
